<div class="row">
  <div class="col-sm-3 col-sm-offset-2">
    
    <img class="avatar img-circle" src="http://pic.pimg.tw/gracekate/1448470060-746987298.png?v=1448470064">

  </div>
  <div class="col-sm-6 col-sm-offset-1">
  	
  	<h1 class>Kate Huang</h1>
    <p class="lead">UI Designer 
    	<p class="lead"> 
    		Graphic Designer
    	</p>
    </p> 
    
  </div>
</div>

<div class="images row">

  <div class="col-md-3">
    <a href="https://www.behance.net/gracekate" class="thumbnail">
      <img src="http://pic.pimg.tw/gracekate/1448467954-2083781129_n.png?v=1448467959">
    </a>
  </div>


  <div class="col-md-3">
    <a href="https://tw.linkedin.com/in/gracekaten" class="thumbnail">
      <img src="http://pic.pimg.tw/gracekate/1448467955-3961215633_n.png?v=1448467959">
    </a>
 </div>  


  <div class="col-md-3">
    <a href="https://www.instagram.com/gracekaten/" class="thumbnail">
      <img src="http://pic.pimg.tw/gracekate/1448474112-1153954383_n.png?v=1448474117">
    </a>
  </div>

  <div class="col-md-3">
    <a href="mailto:gracekaten@gmail.com" class="thumbnail">
      <img src="http://pic.pimg.tw/gracekate/1448474112-2819682739_n.png?v=1448474117">
    </a>
  </div>


</div>