<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    
    <img class="avatar img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10996177_10202891461321002_1532106937399793673_n.jpg?oh=640f8aab0dda3e117069ac6097d0ec3e&oe=56F8B431">

  </div>
  <div class="col-sm-5">
  	
  	<h1>KateHuang</h1>
    <p>fgrjgheru grhuo geuh</p>
    <ul>
      <li><a href="https://www.behance.net/gracekate">Behance</a></li>
      <li><a href="https://tw.linkedin.com/in/gracekaten">LinkedIn</a></li>
      <li><a href="https://www.instagram.com/gracekaten/">Instagram</a></li>
    <ul>
  </div>
</div>

<div class="images row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/474x/18/fc/b5/18fcb50dea87f326b73ef3de9b1aa687.jpg">
    </a>
  </div>


  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/474x/fb/a8/d5/fba8d5e688e1e5544733acd4de028f80.jpg">
    </a>
 </div>  


  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/5b/8e/bd/5b8ebded8dee17c7c0b23a38a466b6d8.jpg">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/f9/84/d3/f984d36ad17f3487b8ea379a48f0e694.jpg">
    </a>
  </div>

  <div class="images row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/474x/18/fc/b5/18fcb50dea87f326b73ef3de9b1aa687.jpg">
    </a>
  </div>


  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/474x/fb/a8/d5/fba8d5e688e1e5544733acd4de028f80.jpg">
    </a>
 </div>  


  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/5b/8e/bd/5b8ebded8dee17c7c0b23a38a466b6d8.jpg">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/f9/84/d3/f984d36ad17f3487b8ea379a48f0e694.jpg">
    </a>
  </div>
</div>