@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

img.avatar {
  width: 150px;
}

.images {
	margin-top: 60px;
}
.main {
  margin-bottom: 80px;
}

footer {
  padding: 15px 0;
}
